/*======================
  Fonts
====================== */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "karate";
  src: url("./fonts/karate.woff") format("woff");
}

@font-face {
  font-family: "Highwind";
  src: url("./fonts/highwind.woff") format("woff");
}

@font-face {
  font-family: "Highwind Italic";
  src: url("./fonts/highwindItalic.woff") format("woff");
  font-style: italic;
}

@font-face {
  font-family: "Ferrum";
  src: url("./fonts/ferrum.woff") format("woff");
}

/*======================
  Global Styles
====================== */
:root {
  --color-light: #ffffff;
  --color-primary: #fe214f;
  --color-dark-red: #d9114a;
  --color-dark: #333333;
  --color-gray: #b2b2a8;
  --color-dark-gray: #afafaf;

  --font-karate: "Karate", serif;
  --font-highwind: "Highwind", serif;
  --font-highwind-italic: "Highwind Italic", serif;
  --font-ferrum: "Ferrum", serif;
  --font-roboto: "Roboto", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color-dark);
}

::-webkit-scrollbar-track {
  background-color: var(--color-darker);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  height: 10%;
  background-color: var(--color-dark-red);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-primary);
}

::selection {
  color: var(--color-light);
  background-color: var(--color-dark);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  line-height: 1.5;
  color: var(--color-dark);
  font-size: 1rem;
  font-family: var(--font-roboto);
  font-weight: 400;
  background-color: var(--color-light);
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 2160px;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

h2 {
  font-family: var(--font-roboto);
  font-size: 6.2vw;
  font-weight: 400;
}

/*======================
  Navbar
====================== */
.navbar {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  height: 8rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 6rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--color-dark);
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: var(--color-dark-red);
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1rem 1.5rem;
  border-radius: 3rem;
  color: #fff;
  background-color: var(--color-dark-red);
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: var(--color-primary);
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/*======================
  Slider
====================== */
.slider-frame {
  position: relative;
  overflow: hidden;
}

.slider {
  height: calc(100vh - 5rem);
  width: 500vw;
  display: flex;
  transition: 1s ease;
  margin-top: 8rem;
}

.slider {
  display: flex;
  height: calc(100vh - 5rem);
  transition: 1s ease;
  width: 500vw;
}

.slider-buttons {
  position: absolute;
  font-size: 2rem;
  left: 0;
  right: 0;
  bottom: 10%;
  display: flex;
  gap: 5rem;
  justify-content: center;
}

.slider-buttons .prev-btn,
.slider-buttons .next-btn {
  font-size: 3.5rem;
  background-color: transparent;
  cursor: pointer;
  color: var(--color-light);
  opacity: 0.6;
}

/*======================
  Slide
====================== */
.slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100%;
  object-fit: contain;
}

.slide-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-items: center;
  justify-content: center;
  align-items: flex-start;
  color: #ffffff;
}

.slide-content h1 {
  font-size: 4vw;
  text-transform: capitalize;
  display: inline-block;
  font-family: var(--font-ferrum);
  background-color: var(--color-dark-red);
  padding: 0 1.5rem;
}

.slide-content p {
  width: 60%;
  font-size: 1.5vw;
}

.slide-cta-link {
  display: inline-block;
  font-size: 2.2vw;
  overflow: hidden;
  position: relative;
  z-index: 2;
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
}

.slide-cta-link::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-primary);
  width: 0%;
  transition: 0.5s cubic-bezier(1, -0.01, 0, 1);
  z-index: -1;
}

.slide-cta-link:hover::before {
  width: 100%;
}
